---
import RootLayout from "~/layouts/root-layout.astro";

import { Image } from "astro:assets";
import { getArticles } from "~/lib/notion";

const articles = await getArticles();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <RootLayout>
    <ul class="flex flex-col space-y-8">
      {
        articles.map((article) => (
          <li class="flex gap-4">
            <a href={`/article/${article.id}`}>{article.title}</a>
            <p>{article.name}</p>
            <Image
              src={article.avatar}
              width={24}
              height={24}
              alt={article.name}
            />
          </li>
        ))
      }
    </ul>
  </RootLayout>


</html>
