---
import { Image } from "astro:assets";
import { BlockToJSX } from "~/components/blocks/block-to-jsx";
import { LucideIcon } from "~/components/layouts/lucide-icon";
import RootLayout from "~/layouts/root-layout.astro";
import { getPageById, getWorks } from "~/lib/notion";

export const getStaticPaths = async () => {
  const works = await getWorks();
  return works.map((work) => {
    return {
      params: {
        id: work.id,
      },
      props: {
        works,
      },
    };
  });
};

const { id } = Astro.params;
const { works } = Astro.props;

const article = works.find((work) => work.id === id);

const blocks = await getPageById(id);

console.log(blocks);
---

<RootLayout title={article?.title}>
  <a href="/article/" class="block px-4">
    <LucideIcon type={"back"} />
  </a>
  <div class="grid place-items-center gap-4 px-4">
    <h1 class="px-4 text-xl font-bold">{article?.title}</h1>
    <div
      class="flex items-center justify-center space-x-2 text-sm text-zinc-500"
    >
      <p>編纂員: {article?.name}</p>
      <Image
        src={article?.avatar!}
        width={20}
        height={20}
        alt={article?.name}
        class="rounded-full"
      />
    </div>
  </div>
  <ul class="mx-auto mt-10 px-4 text-sm text-zinc-200 sm:text-base">
    {blocks.map((block) => <BlockToJSX block={block} />)}
  </ul>
</RootLayout>
